## Read the CSV

In [36]:
#imports the pandas library
import pandas as pd

df= pd.read_csv('data/product.csv', sep=";") #using pandas to read in and open the csv file, semicolon sperated
print(df)

          id             name          price currency  created_at
0   SKU-1001           shoes             799      SEK  2024-01-10
1   SKU-1002            pants            520      SEK  2024/02/15
2   SKU-1003           shirts            450      SEK         NaN
3        NaN           jacket           -200     SEK   2024-13-01
4   SKU-1005              NaN            NaN      NaN
5   SKU-1006    designer coat            NaN      SEK  2024-05-01
6        NaN              hat           free      SEK         NaN
7   SKU-1008          gloves             120      NaN  2024-06-20
8   SKU-1009            socks             99      SEK  2024-02-01
9   SKU-1010            boots           1500      SEK  2024-02-15
10  SKU-1011            scarf            200      SEK  2024-03-01
11  SKU-1012             belt            300      SEK  2024/03/10
12  SKU-1013              cap             75      SEK  2024-04-01
13  SKU-1014          t-shirt              0      SEK  2024-04-10
14  SKU-1015           hoodie            -50      SEK  2024-04-15
15  SKU-1016             coat           2500      SEK  2024-05-01
16  SKU-1017            jeans            800      SEK  2024-05-05
17  SKU-1018         sneakers           1200      SEK  2024-05-10
18  SKU-1019          sandals            400      SEK  2024-05-15
19  SKU-1020            watch          15000      SEK  2024-06-01
20  SKU-1021             ring          25000      SEK  2024-06-05
21  SKU-1022         bracelet            500      SEK  2024-06-10
22  SKU-1023        necklace             650      SEK  2024-06-15
23  SKU-1024       sunglasses            900      SEK  2024-07-01
24  SKU-1025         backpack           1100      SEK  2024-07-05
25  SKU-1026         umbrella            300      SEK  2024-07-10
26  SKU-1027   winter jacket            3500      SEK  2024-07-15
27  SKU-1028           shorts            450      SEK  2024-08-01
28  SKU-1029            skirt            500      SEK  2024-08-05
29  SKU-1030           gloves            200      SEK  2024-08-10
30  SKU-1031          mittens            220      SEK  2024-08-15
31  SKU-1032             suit           5000      SEK  2024-09-01
32  SKU-1033              tie            150      SEK  2024-09-05
33  SKU-1034           blazer           2200      SEK  2024-09-10
34  SKU-1035             polo            600      SEK  2024-09-15
35  SKU-1036         leggings            350      SEK  2024-10-01
36  SKU-1037        tracksuit           1200      SEK  2024-10-05
37  SKU-1038         swimsuit            700      SEK  2024-10-10
38  SKU-1039             coat         999999      SEK  2024-10-15
39  SKU-1040            parka           4500      SEK  2024-11-01
40  SKU-1041           beanie            180      SEK  2024-11-05
41  SKU-1042         earmuffs            130      SEK  2024-11-10
42  SKU-1043         cardigan            NaN      SEK  2024-11-15
43  SKU-1044             vest            800      SEK  2024-12-01
44  SKU-1045          loafers           1100      SEK  2024-12-05
45  SKU-1046        sneakers            1000      SEK  2024-12-10
46  SKU-1047            heels           1500      SEK  2024-12-15
47  SKU-1048        flipflops            100      SEK  2024-12-20
48  SKU-1049             robe            900      SEK  2024-12-25
49  SKU-1050          pyjamas            600      SEK  2025-01-01
50  SKU-1051       suspenders            250      SEK  2025-01-05
51  SKU-1052             coat  not_available      SEK  2025-01-10
52  SKU-1053              cap             85      SEK  2025-01-15
53  SKU-1054              NaN            450      SEK  2025-02-01
54  SKU-1055            scarf            300      NaN  2025-02-05

## Clean basic formatting

In [37]:
#cleans by astype for type conversion and strip method(removes extra spaces, new line syntax, symbols and so on)

df["id"]= df["id"].str.strip() 
df["name"] = df["name"].str.strip()
df["currency"] = df["currency"].str.strip()
df["created_at"] = df["created_at"].str.strip()

print(df)

          id           name          price currency  created_at
0   SKU-1001          shoes            799      SEK  2024-01-10
1   SKU-1002          pants            520      SEK  2024/02/15
2   SKU-1003         shirts            450      SEK         NaN
3        NaN         jacket           -200      SEK  2024-13-01
4   SKU-1005            NaN            NaN      NaN
5   SKU-1006  designer coat            NaN      SEK  2024-05-01
6        NaN            hat           free      SEK         NaN
7   SKU-1008         gloves            120      NaN  2024-06-20
8   SKU-1009          socks             99      SEK  2024-02-01
9   SKU-1010          boots           1500      SEK  2024-02-15
10  SKU-1011          scarf            200      SEK  2024-03-01
11  SKU-1012           belt            300      SEK  2024/03/10
12  SKU-1013            cap             75      SEK  2024-04-01
13  SKU-1014        t-shirt              0      SEK  2024-04-10
14  SKU-1015         hoodie            -50      SEK  2024-04-15
15  SKU-1016           coat           2500      SEK  2024-05-01
16  SKU-1017          jeans            800      SEK  2024-05-05
17  SKU-1018       sneakers           1200      SEK  2024-05-10
18  SKU-1019        sandals            400      SEK  2024-05-15
19  SKU-1020          watch          15000      SEK  2024-06-01
20  SKU-1021           ring          25000      SEK  2024-06-05
21  SKU-1022       bracelet            500      SEK  2024-06-10
22  SKU-1023       necklace            650      SEK  2024-06-15
23  SKU-1024     sunglasses            900      SEK  2024-07-01
24  SKU-1025       backpack           1100      SEK  2024-07-05
25  SKU-1026       umbrella            300      SEK  2024-07-10
26  SKU-1027  winter jacket           3500      SEK  2024-07-15
27  SKU-1028         shorts            450      SEK  2024-08-01
28  SKU-1029          skirt            500      SEK  2024-08-05
29  SKU-1030         gloves            200      SEK  2024-08-10
30  SKU-1031        mittens            220      SEK  2024-08-15
31  SKU-1032           suit           5000      SEK  2024-09-01
32  SKU-1033            tie            150      SEK  2024-09-05
33  SKU-1034         blazer           2200      SEK  2024-09-10
34  SKU-1035           polo            600      SEK  2024-09-15
35  SKU-1036       leggings            350      SEK  2024-10-01
36  SKU-1037      tracksuit           1200      SEK  2024-10-05
37  SKU-1038       swimsuit            700      SEK  2024-10-10
38  SKU-1039           coat         999999      SEK  2024-10-15
39  SKU-1040          parka           4500      SEK  2024-11-01
40  SKU-1041         beanie            180      SEK  2024-11-05
41  SKU-1042       earmuffs            130      SEK  2024-11-10
42  SKU-1043       cardigan            NaN      SEK  2024-11-15
43  SKU-1044           vest            800      SEK  2024-12-01
44  SKU-1045        loafers           1100      SEK  2024-12-05
45  SKU-1046       sneakers           1000      SEK  2024-12-10
46  SKU-1047          heels           1500      SEK  2024-12-15
47  SKU-1048      flipflops            100      SEK  2024-12-20
48  SKU-1049           robe            900      SEK  2024-12-25
49  SKU-1050        pyjamas            600      SEK  2025-01-01
50  SKU-1051     suspenders            250      SEK  2025-01-05
51  SKU-1052           coat  not_available      SEK  2025-01-10
52  SKU-1053            cap             85      SEK  2025-01-15
53  SKU-1054            NaN            450      SEK  2025-02-01
54  SKU-1055          scarf            300      NaN  2025-02-05

## Converts price to numeric and dates properly

In [38]:
#Converts price to numeric(e.g, "free", "not available", "empty" to NaN)
df["price"]= pd.to_numeric(df["price"], errors="coerce")

#Converts dates properly

df["created_at"] = df["created_at"].astype(str).str.replace("/", "-")
df["created_at"]=pd.to_datetime(
    df["created_at"], 
    errors= "coerce",
    yearfirst= True
)

print(df)

          id           name     price currency created_at
0   SKU-1001          shoes     799.0      SEK 2024-01-10
1   SKU-1002          pants     520.0      SEK 2024-02-15
2   SKU-1003         shirts     450.0      SEK        NaT
3        NaN         jacket    -200.0      SEK        NaT
4   SKU-1005            NaN       NaN      NaN        NaT
5   SKU-1006  designer coat       NaN      SEK 2024-05-01
6        NaN            hat       NaN      SEK        NaT
7   SKU-1008         gloves     120.0      NaN 2024-06-20
8   SKU-1009          socks      99.0      SEK 2024-02-01
9   SKU-1010          boots    1500.0      SEK 2024-02-15
10  SKU-1011          scarf     200.0      SEK 2024-03-01
11  SKU-1012           belt     300.0      SEK 2024-03-10
12  SKU-1013            cap      75.0      SEK 2024-04-01
13  SKU-1014        t-shirt       0.0      SEK 2024-04-10
14  SKU-1015         hoodie     -50.0      SEK 2024-04-15
15  SKU-1016           coat    2500.0      SEK 2024-05-01
16  SKU-1017          jeans     800.0      SEK 2024-05-05
17  SKU-1018       sneakers    1200.0      SEK 2024-05-10
18  SKU-1019        sandals     400.0      SEK 2024-05-15
19  SKU-1020          watch   15000.0      SEK 2024-06-01
20  SKU-1021           ring   25000.0      SEK 2024-06-05
21  SKU-1022       bracelet     500.0      SEK 2024-06-10
22  SKU-1023       necklace     650.0      SEK 2024-06-15
23  SKU-1024     sunglasses     900.0      SEK 2024-07-01
24  SKU-1025       backpack    1100.0      SEK 2024-07-05
25  SKU-1026       umbrella     300.0      SEK 2024-07-10
26  SKU-1027  winter jacket    3500.0      SEK 2024-07-15
27  SKU-1028         shorts     450.0      SEK 2024-08-01
28  SKU-1029          skirt     500.0      SEK 2024-08-05
29  SKU-1030         gloves     200.0      SEK 2024-08-10
30  SKU-1031        mittens     220.0      SEK 2024-08-15
31  SKU-1032           suit    5000.0      SEK 2024-09-01
32  SKU-1033            tie     150.0      SEK 2024-09-05
33  SKU-1034         blazer    2200.0      SEK 2024-09-10
34  SKU-1035           polo     600.0      SEK 2024-09-15
35  SKU-1036       leggings     350.0      SEK 2024-10-01
36  SKU-1037      tracksuit    1200.0      SEK 2024-10-05
37  SKU-1038       swimsuit     700.0      SEK 2024-10-10
38  SKU-1039           coat  999999.0      SEK 2024-10-15
39  SKU-1040          parka    4500.0      SEK 2024-11-01
40  SKU-1041         beanie     180.0      SEK 2024-11-05
41  SKU-1042       earmuffs     130.0      SEK 2024-11-10
42  SKU-1043       cardigan       NaN      SEK 2024-11-15
43  SKU-1044           vest     800.0      SEK 2024-12-01
44  SKU-1045        loafers    1100.0      SEK 2024-12-05
45  SKU-1046       sneakers    1000.0      SEK 2024-12-10
46  SKU-1047          heels    1500.0      SEK 2024-12-15
47  SKU-1048      flipflops     100.0      SEK 2024-12-20
48  SKU-1049           robe     900.0      SEK 2024-12-25
49  SKU-1050        pyjamas     600.0      SEK 2025-01-01
50  SKU-1051     suspenders     250.0      SEK 2025-01-05
51  SKU-1052           coat       NaN      SEK 2025-01-10
52  SKU-1053            cap      85.0      SEK 2025-01-15
53  SKU-1054            NaN     450.0      SEK 2025-02-01
54  SKU-1055          scarf     300.0      NaN 2025-02-05

## Rejects Impossible Values.

In [44]:
#each part returns a boolean series and | means OR which combines multiple boolean series row-by-row(checks the three for each of the rows)
reject_condition = (
    (df["id"].isna()) |    #invalid id
    (df["id"] == "") |       # missing ID
    (df["price"].isna())|    #invalid or missing price
    (df["price"] < 0) |      # negative price
    (df["created_at"].isna())   # invalid or missing date
)

df_rejected = df[reject_condition].copy()
df_valid = df[~reject_condition].copy()

#print(df_rejected)


print(df_valid)

          id           name     price currency created_at
0   SKU-1001          shoes     799.0      SEK 2024-01-10
1   SKU-1002          pants     520.0      SEK 2024-02-15
7   SKU-1008         gloves     120.0      NaN 2024-06-20
8   SKU-1009          socks      99.0      SEK 2024-02-01
9   SKU-1010          boots    1500.0      SEK 2024-02-15
10  SKU-1011          scarf     200.0      SEK 2024-03-01
11  SKU-1012           belt     300.0      SEK 2024-03-10
12  SKU-1013            cap      75.0      SEK 2024-04-01
13  SKU-1014        t-shirt       0.0      SEK 2024-04-10
15  SKU-1016           coat    2500.0      SEK 2024-05-01
16  SKU-1017          jeans     800.0      SEK 2024-05-05
17  SKU-1018       sneakers    1200.0      SEK 2024-05-10
18  SKU-1019        sandals     400.0      SEK 2024-05-15
19  SKU-1020          watch   15000.0      SEK 2024-06-01
20  SKU-1021           ring   25000.0      SEK 2024-06-05
21  SKU-1022       bracelet     500.0      SEK 2024-06-10
22  SKU-1023       necklace     650.0      SEK 2024-06-15
23  SKU-1024     sunglasses     900.0      SEK 2024-07-01
24  SKU-1025       backpack    1100.0      SEK 2024-07-05
25  SKU-1026       umbrella     300.0      SEK 2024-07-10
26  SKU-1027  winter jacket    3500.0      SEK 2024-07-15
27  SKU-1028         shorts     450.0      SEK 2024-08-01
28  SKU-1029          skirt     500.0      SEK 2024-08-05
29  SKU-1030         gloves     200.0      SEK 2024-08-10
30  SKU-1031        mittens     220.0      SEK 2024-08-15
31  SKU-1032           suit    5000.0      SEK 2024-09-01
32  SKU-1033            tie     150.0      SEK 2024-09-05
33  SKU-1034         blazer    2200.0      SEK 2024-09-10
34  SKU-1035           polo     600.0      SEK 2024-09-15
35  SKU-1036       leggings     350.0      SEK 2024-10-01
36  SKU-1037      tracksuit    1200.0      SEK 2024-10-05
37  SKU-1038       swimsuit     700.0      SEK 2024-10-10
38  SKU-1039           coat  999999.0      SEK 2024-10-15
39  SKU-1040          parka    4500.0      SEK 2024-11-01
40  SKU-1041         beanie     180.0      SEK 2024-11-05
41  SKU-1042       earmuffs     130.0      SEK 2024-11-10
43  SKU-1044           vest     800.0      SEK 2024-12-01
44  SKU-1045        loafers    1100.0      SEK 2024-12-05
45  SKU-1046       sneakers    1000.0      SEK 2024-12-10
46  SKU-1047          heels    1500.0      SEK 2024-12-15
47  SKU-1048      flipflops     100.0      SEK 2024-12-20
48  SKU-1049           robe     900.0      SEK 2024-12-25
49  SKU-1050        pyjamas     600.0      SEK 2025-01-01
50  SKU-1051     suspenders     250.0      SEK 2025-01-05
52  SKU-1053            cap      85.0      SEK 2025-01-15
53  SKU-1054            NaN     450.0      SEK 2025-02-01
54  SKU-1055          scarf     300.0      NaN 2025-02-05

## Flag Suspicious(but not reject): Now on df_valid(trusted dataset)

In [ ]:
#Flag Missing currency
df_valid["flag_missing_currency"]= df_valid["currency"].isna() | (df_valid["currency"]=="") #flags missing currency or empty string value or space not stripped


#Flag Price equals 0
df_valid["flag_zero_price"]=df_valid["price"]==0

#Extreme high prices(luxury/suspicious): >10000

df_valid["flag_extreme_price"] = df_valid["price"] > 10000

print(df_valid)

          id           name     price currency created_at  \
0   SKU-1001          shoes     799.0      SEK 2024-01-10
1   SKU-1002          pants     520.0      SEK 2024-02-15
7   SKU-1008         gloves     120.0      NaN 2024-06-20
8   SKU-1009          socks      99.0      SEK 2024-02-01
9   SKU-1010          boots    1500.0      SEK 2024-02-15
10  SKU-1011          scarf     200.0      SEK 2024-03-01
11  SKU-1012           belt     300.0      SEK 2024-03-10
12  SKU-1013            cap      75.0      SEK 2024-04-01
13  SKU-1014        t-shirt       0.0      SEK 2024-04-10
15  SKU-1016           coat    2500.0      SEK 2024-05-01
16  SKU-1017          jeans     800.0      SEK 2024-05-05
17  SKU-1018       sneakers    1200.0      SEK 2024-05-10
18  SKU-1019        sandals     400.0      SEK 2024-05-15
19  SKU-1020          watch   15000.0      SEK 2024-06-01
20  SKU-1021           ring   25000.0      SEK 2024-06-05
21  SKU-1022       bracelet     500.0      SEK 2024-06-10
22  SKU-1023       necklace     650.0      SEK 2024-06-15
23  SKU-1024     sunglasses     900.0      SEK 2024-07-01
24  SKU-1025       backpack    1100.0      SEK 2024-07-05
25  SKU-1026       umbrella     300.0      SEK 2024-07-10
26  SKU-1027  winter jacket    3500.0      SEK 2024-07-15
27  SKU-1028         shorts     450.0      SEK 2024-08-01
28  SKU-1029          skirt     500.0      SEK 2024-08-05
29  SKU-1030         gloves     200.0      SEK 2024-08-10
30  SKU-1031        mittens     220.0      SEK 2024-08-15
31  SKU-1032           suit    5000.0      SEK 2024-09-01
32  SKU-1033            tie     150.0      SEK 2024-09-05
33  SKU-1034         blazer    2200.0      SEK 2024-09-10
34  SKU-1035           polo     600.0      SEK 2024-09-15
35  SKU-1036       leggings     350.0      SEK 2024-10-01
36  SKU-1037      tracksuit    1200.0      SEK 2024-10-05
37  SKU-1038       swimsuit     700.0      SEK 2024-10-10
38  SKU-1039           coat  999999.0      SEK 2024-10-15
39  SKU-1040          parka    4500.0      SEK 2024-11-01
40  SKU-1041         beanie     180.0      SEK 2024-11-05
41  SKU-1042       earmuffs     130.0      SEK 2024-11-10
43  SKU-1044           vest     800.0      SEK 2024-12-01
44  SKU-1045        loafers    1100.0      SEK 2024-12-05
45  SKU-1046       sneakers    1000.0      SEK 2024-12-10
46  SKU-1047          heels    1500.0      SEK 2024-12-15
47  SKU-1048      flipflops     100.0      SEK 2024-12-20
48  SKU-1049           robe     900.0      SEK 2024-12-25
49  SKU-1050        pyjamas     600.0      SEK 2025-01-01
50  SKU-1051     suspenders     250.0      SEK 2025-01-05
52  SKU-1053            cap      85.0      SEK 2025-01-15
53  SKU-1054            NaN     450.0      SEK 2025-02-01
54  SKU-1055          scarf     300.0      NaN 2025-02-05

    flag_missing_currency  flag_zero_price  flag_extreme_price
0                   False            False               False
1                   False            False               False
7                    True            False               False
8                   False            False               False
9                   False            False               False
10                  False            False               False
11                  False            False               False
12                  False            False               False
13                  False             True               False
15                  False            False               False
16                  False            False               False
17                  False            False               False
18                  False            False               False
19                  False            False                True
20                  False            False                True
21                  False            False               False
22                  False            False               False
23                  False            False               False
24                  False            False               False
25                  False            False               False
26                  False            False               False
27                  False            False               False
28                  False            False               False
29                  False            False               False
30                  False            False               False
31                  False            False               False
32                  False            False               False
33                  False            False               False
34                  False            False               False
35                  False            False               False
36                  False            False               False
37                  False            False               False
38                  False            False                True
39                  False            False               False
40                  False            False               False
41                  False            False               False
43                  False            False               False
44                  False            False               False
45                  False            False               False
46                  False            False               False
47                  False            False               False
48                  False            False               False
49                  False            False               False
50                  False            False               False
52                  False            False               False
53                  False            False               False
54                   True            False               False